<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Don't have an account??</h3>
    <h2><a href="/register">Create One</a></h2>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <div>
        <label for="control-label" name="username">
            Username:
        </label>
        <input type="text" name="username" id="username" placeholder="username">
    </div>
    <div>
        <label for="control-label" name="password">
            Password:
        </label>
        <input type="password" id="password" placeholder="password" name="password">
    </div>
    <button type="submit">Login</button>
    </form>
</body>
</html>